@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.container .wrapper a {
    text-decoration: none;
    color: rgba(0, 87, 88, 0.8);
}

.wrapper {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover {
  background: #E4405F;
  color: #ffffff;
}




#btn {
    padding: 15px 42px;
    background: rgb(255, 255, 255);
    min-width: 150px;
    max-width : 200px;
    border: none;
    box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
    color: rgba(0, 87, 88, 0.8);
    font-size: 20px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
    color: rgb(255, 255, 255);
  }
  
  #btn:hover #circle {
    height: 75px;
    width: 190px;
    left: 5px;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }

  /* START anim socials rotate */

  .icon1 {
    -webkit-animation: rotate-vert-center .8s .4s ease-in-out both;
    animation: rotate-vert-center .8s .4s ease-in-out both;
  }

  .icon2 {
    -webkit-animation: rotate-vert-center .8s .6s ease-in-out both;
    animation: rotate-vert-center .8s .6s ease-in-out both;
  }

  .icon3 {
    -webkit-animation: rotate-vert-center .8s .8s ease-in-out both;
    animation: rotate-vert-center .8s .8s ease-in-out both;
  }

  .test:hover {
    -webkit-animation: rotate-vert-center .8s ease-in-out both;
    animation: rotate-vert-center .8s ease-in-out both;
  }

  @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }

  /* END anim socials rotate */
  