/***** General *****/
:root {
    --navbar-background-color: #f2f2f2;
    --navbar-item-hovered-color: white;
    --navbar-separator-color: #ececec;
    --navbar-icon-color: #646c79;
    --navbar-text-color: black;
    --navbar-transition-speed: .2s;
    --primary-color: rgba(0, 87, 88, 0.8);
}

body {
    background-color: rgba(0, 87, 88, 0.8);
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***** Navbar left *****/

#nav_left {
    display: none;
}

.navbar {
    width: 5rem;
    max-height: 55%;
    position: fixed;
    top: 80px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    left: 0px;
    bottom: 0px;
    background: var(--navbar-background-color);
    box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
    transition: width var(--navbar-transition-speed) ease;
    z-index: 10;
}

#navBottom {
    border-radius: 0% !important;
    z-index: 2;
}

.navbar:hover {
    width: 16rem;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-item {
    width: 100%;
    border-bottom: solid 1px var(--navbar-separator-color);
    transition: background-color var(--navbar-transition-speed);
}

.navbar-item:hover {
    background-color: var(--navbar-item-hovered-color);
}



.navbar-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.navbar-icon {
    text-align: center;
    font-size: 1.5rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--navbar-icon-color);
    transition: var(--navbar-transition-speed);
}

.navbar-item:hover .navbar-icon {
    color: var(--primary-color);
}

.navbar-title {
    color: var(--navbar-text-color);
}

.navbar-item:hover .navbar-title {
    color: var(--primary-color);
}

.navbar:not(:hover) .navbar-title {
    display: none;
}

.logo {
    background: var(--navbar-logo-background-color);
}

.logo .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1.5rem;
}

.navbar:hover .logo .navbar-icon {
    transform: rotate(180deg);
}

#nav_bottom {
    display: none;
}

.bandeau {
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
}
.bandeau.active {
    transform: translateX(0%);
    transition: 0.6s;
    opacity: 1;
}


.bandeau h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#presentation {
    position: absolute;
    text-transform: uppercase; 
    left: 0; 
    right: 0; 
    top: 75px;
}

#question1 {
    position: absolute; 
    opacity: 0.1; 
    text-transform: uppercase;
    left: 0; 
    right: 0; 
    top: 35px;
}


/***** Section Head *****/
#head {
    height: 650px;
    background-image: url('../img/image1_test.jpeg');
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, black 0 80%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, black 0 80%, rgba(0, 0, 0, 0) 100%);
}


/***** Logo + Name *****/
.logo {

    -webkit-animation: slide-right .5s .2s ease-in-out both;
    animation: slide-right .5s .2s ease-in-out both;
}

#head h1 {

    -webkit-animation: slide-left .5s .1s ease-in-out both;
    animation: slide-right .5s .1s ease-in-out both;
}

#head h2 {

    -webkit-animation: slide-right .5s ease-in-out both;
    animation: slide-right .5s ease-in-out both;
}



 @-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  }
  

#logo {
    padding: 25px;
    color: white;
}

/***** Section Nav *****/
#nav {
    margin-top: 0px;
    font-weight: bold;
}


/***** Section accueil *****/

.accueil {
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 20px;
    padding-bottom: 80px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 30px -10px;
}

.img_accueil {
    position: relative;
    width: 60%;
    top: -10rem;
    z-index: 1;
}

.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.container .image-container .image{
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 30px -10px;
}
.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.container .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.container .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}



/***** Section Activité *****/

.activites {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
}

.activites h1 {
    text-align: center;
}

.infos_activites1, .infos_activites3 {
    padding-right: 100px;
}

.infos_activites2 {
    padding-left: 100px;
}

.p1, .p3 {
    text-align: right;
}

.p2 {
    text-align: left;
}

.img_activites1, .img_activites3 {
    position: relative;
    left: -100px;
}

.img_activites2 {
    position: relative;
    right: -100px;
}

/***** Section a propos *****/

.card_ap {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 30px -10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 6px solid rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.card_ap:hover {
    border-bottom: 6px solid rgba(255, 255, 255, 0.4);
    transform: scale(1.01);
}

.btn_ap {
    background-color: #ffffff;
    color: rgba(0, 87, 88, 0.8);
    font-weight: bold;
    transition: .5s;
}

.btn_ap:hover {
    background-color: transparent;
    color: #ffffff;
    transform:scale(1.01);
}


/***** Section Contact *****/

.infosContact {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 30px -10px;
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.a_contact {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;    
}

.a_contact:hover {
    color: rgba(0,118,120,255);  
}

.infosContact h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(12, 43, 30, 0.5) 0 4px 14px;
}

.infosContact .btn_ap {
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }


/***** footer *****/

footer{
    width: 100%;
    background-color: rgba(26, 26, 26, 0.8);
}
footer p{
    color: white;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: rgba(0, 87, 88, 0.8);
}

/****************** RESPONSIVE *********************/

@media only screen and (max-width: 1024px) {
    #nav {
        display: none;
    }

    #nav_left {
        display: none;
    }

    #nav_bottom {
        display: block;
    }

    .navbar {
        top: auto;
        width: 100%;
        bottom: 0;
        justify-content: center;
        z-index: 1;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar-menu {
        flex-direction: row;
    }

    .navbar-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        display: none;
    }

    .navbar:hover .navbar-title {
        display: none;
    }

    .navbar-icon {
        width: 100px;
        min-width: auto;
        margin: 0;
    }

    .navbar-link {
        justify-content: center;
    }
}

/***** fin navbar left *****/

@media only screen and (min-width: 1566px) {
    .card {
            height: 200px !important;
            width: 250px !important;
    }
}

@media only screen and (min-width: 1280px) {
    #head {
        min-height: 620px;
    }

    #presentation {
        font-size: 30px; 
        font-weight: 300; 
    }

    #question1 {
        font-size: 100px; 
        font-weight: 700; 
    }
}

@media only screen and (min-width: 768px) {
    #head {
        min-height: 500px;
    }

    .card {
        height: 150px;
        width: 200px;
    }

    .container .popup-image img{
        width: 95%;
    }
}

@media only screen and (max-width: 767px) {
    #head {
        min-height: 350px;
    }

    .card {
        height: 80px;
        width: 130px;
        margin-bottom: 20px;
    }

    #nav {
        margin-top: 20px;
    }

    a {
        font-size: 1em !important;
        margin-bottom: 10px
    }
}