/***** General *****/
:root {
    --navbar-background-color: #f2f2f2;
    --navbar-item-hovered-color: white;
    --navbar-separator-color: #ececec;
    --navbar-icon-color: #646c79;
    --navbar-text-color: black;
    --navbar-transition-speed: .2s;
    --primary-color: rgba(0,118,120, 0.7);
}

body {
    background-color: rgba(0,118,120, 0.7);
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***** Navbar left *****/

#nav_left {
    display: none;
}

.navbar {
    width: 5rem;
    max-height: 70%;
    position: fixed;
    top: 80px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    left: 0px;
    bottom: 0px;
    background: var(--navbar-background-color);
    box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
    transition: width var(--navbar-transition-speed) ease;
}

#navBottom {
    border-radius: 0% !important;
}

.navbar:hover {
    width: 16rem;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-item {
    width: 100%;
    border-bottom: solid 1px var(--navbar-separator-color);
    transition: background-color var(--navbar-transition-speed);
}

.navbar-item:hover {
    background-color: var(--navbar-item-hovered-color);
}



.navbar-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.navbar-icon {
    text-align: center;
    font-size: 1.5rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--navbar-icon-color);
    transition: var(--navbar-transition-speed);
}

.navbar-item:hover .navbar-icon {
    color: var(--primary-color);
}

.navbar-title {
    color: var(--navbar-text-color);
}

.navbar-item:hover .navbar-title {
    color: var(--primary-color);
}

.navbar:not(:hover) .navbar-title {
    display: none;
}

.logo {
    background: var(--navbar-logo-background-color);
}

.logo .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1.5rem;
}

.navbar:hover .logo .navbar-icon {
    transform: rotate(180deg);
}

#nav_bottom {
    display: none;
}

@media only screen and (max-width: 1024px) {
    #nav {
        display: none;
    }

    #nav_left {
        display: none;
    }

    #nav_bottom {
        display: block;
    }

    .navbar {
        top: auto;
        width: 100%;
        bottom: 0;
        justify-content: center;
        z-index: 1;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar-menu {
        flex-direction: row;
    }

    .navbar-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        display: none;
    }

    .navbar:hover .navbar-title {
        display: none;
    }

    .navbar-icon {
        width: 100px;
        min-width: auto;
        margin: 0;
    }

    .navbar-link {
        justify-content: center;
    }
}

/***** fin navbar left *****/

@media only screen and (min-width: 1566px) {
    .card {
            height: 200px !important;
            width: 250px !important;
    }
}

@media only screen and (min-width: 1280px) {
    #head {
        min-height: 620px;
    }

    #presentation {
        font-size: 30px; 
        font-weight: 300; 
    }

    #question1 {
        font-size: 100px; 
        font-weight: 700; 
    }
}

@media only screen and (min-width: 768px) {
    #head {
        min-height: 500px;
    }

    .card {
        height: 150px;
        width: 200px;
    }
}

@media only screen and (max-width: 767px) {
    #head {
        min-height: 350px;
    }

    .card {
        height: 80px;
        width: 130px;
        margin-bottom: 20px;
    }

    #nav {
        margin-top: 20px;
    }

    a {
        font-size: 1em !important;
        margin-bottom: 10px
    }
}

.bandeau {
    margin-top: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.bandeau h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#presentation {
    position: absolute;
    text-transform: uppercase; 
    left: 0; 
    right: 0; 
    top: 75px;
}

#question1 {
    position: absolute; 
    opacity: 0.1; 
    text-transform: uppercase;
    left: 0; 
    right: 0; 
    top: 35px;
}


/***** Section Head *****/
#head {
    margin-top: 100px;
    background-image: url('../img/image1_test.jpeg');
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, black 0 75%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, black 0 75%, rgba(0, 0, 0, 0) 100%);
}


/***** Logo + Name *****/
#logo {
    padding: 25px;
    color: white;
}


/***** Section Nav *****/
#nav {
    margin-top: -80px;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
}

.c_nav {
    max-height: 80px;
}

.c_nav:hover {
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.5em;
    font-weight: bold;

}

.a_nav:hover {
    color: rgba(0,118,120,255);
}


/***** Section accueil *****/


/***** Section Activité *****/


/***** Section Tarifs *****/


/***** Section Contact *****/


/***** footer *****/

footer{
    height: 50px;
    width: 100vw;
    background-color: rgb(26, 26, 26);
}
footer p{
    color: white;
    display: flex;
    justify-content: center;
}
